@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
    <style>
        .background {
            
            position: relative;
            background-image: url('/images/7087596.jpg');
            background-size: cover;
            background-position: center;
            height:75vh;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            
        }

        .text-overlay {
            font-size: 3em;
            font-weight: bold;
            color:black;
        }
    </style>


    <div class="background">
        <div class="text-overlay">
            <h1>Welcome To Agthia!</h1>
            <p>The World of Taste</p>
        </div>
    </div>

